.simple-block
    i.simple-block__emoji 🦌
    h1.simple-block__title Koshacha Boilerplate
    p.simple-block__lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque commodi expedita modi odit omnis ratione? Cumque, in, nesciunt. Ab animi dicta est facere necessitatibus nulla odit perspiciatis quis.